@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (User.IsInRole("AppAdmin"))
            {
                <li>@Html.ActionLink("ADMIN PANEL", "Index", "Admin")</li>
            }
            else
            {
                @Html.ActionLink(@SOZA_web.Resources.HomeTexts.Hello + ' ' + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = @SOZA_web.Resources.HomeTexts.Account})
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@SOZA_web.Resources.HomeTexts.LogOut</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(SOZA_web.Resources.HomeTexts.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(SOZA_web.Resources.HomeTexts.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
